In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\gagan soni\Downloads\insurance data set.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# data Exploration

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
continious = df.drop(columns = ['smoker','region','sex','children']).columns.to_list()
continious

['age', 'bmi', 'charges']

# Data preprocessing

In [5]:
df = df.drop_duplicates()

In [6]:
df[continious].skew()

age        0.054781
bmi        0.283914
charges    1.515391
dtype: float64

In [7]:
df.drop(columns ='region',inplace = True)

In [8]:
df = pd.get_dummies(df, columns=['sex', 'smoker'], drop_first=True).astype(int)

In [9]:
df.head()

   age  bmi  children  charges  sex_male  smoker_yes
0   19   27         0    16884         0           1
1   18   33         1     1725         1           0
2   28   33         3     4449         1           0
3   33   22         0    21984         1           0
4   32   28         0     3866         1           0

In [10]:
X = df.drop(columns = 'charges')
y = df['charges']

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

# Modelling

In [12]:
# modelling
model = ElasticNet()
param_grid = {'alpha':list(range(1,70)),'l1_ratio':[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]}

grid  = GridSearchCV(model,param_grid,cv = 5)
grid.fit(X_train,y_train)
grid.best_params_

NameError: name 'GridSearchCV' is not defined

In [ ]:
# modelling
from sklearn.linear_model import ElasticNet
elt_best = ElasticNet(alpha = 69,l1_ratio = 1)
elt_best.fit(X_train,y_train)

# Prediction 
y_pred_train = elt_best.predict(X_train)

# train r2_score
from sklearn.metrics import r2_score
print('Train_r2_score',r2_score(y_train,y_pred_train))

# cross validation score
from sklearn.model_selection import cross_val_score 
print('cross_val_score',cross_val_score(elt_best,X_train,y_train,cv = 5).mean())

# prediction
y_pred_test = elt_best.predict(X_test)

# test r2_score
r2_score
print('test_r2_score',r2_score(y_test,y_pred_test))