In [1]:
import numpy as np
import pandas as pd
import warnings
from sklearn.model_selection import cross_val_score
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score
from keras.models import Sequential
import tensorflow as tf
import keras
from scikeras.wrappers import KerasClassifier
from keras.layers import Dense

In [2]:
df = pd.read_csv(r"C:\Users\gagan soni\Downloads\Customer-Churn-Records.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

In [4]:
df.drop(columns = ['RowNumber','CustomerId','Surname','Complain',
                   'Satisfaction Score','Card Type','Point Earned',],inplace = True)

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
X =  pd.get_dummies(df.drop(columns = 'Exited'),drop_first = True)
y = df['Exited']

In [7]:
y.value_counts()

Exited
0    7962
1    2038
Name: count, dtype: int64

**this is a target variable and it is a imbalance data so we can convert it into the balance**

In [8]:
X_train,X_test,y_train,y_test  = train_test_split(X,y , random_state = 9 , test_size = 0.2)

# DL- Modelling

In [9]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**we convert into the scaler data because one variable is there that is the big number**

## Modellling

**Initializing the artificial neural network**

In [10]:
p_model = Sequential()
#input layer
p_model.add(Dense(input_dim = 11,units = 21,kernel_initializer= 'uniform',activation = 'relu'))
# hidden layers
p_model.add(Dense(units = 21,kernel_initializer= 'uniform',activation = 'relu'))

p_model.add(Dense(units = 21,kernel_initializer= 'uniform',activation = 'relu'))

# output layer
p_model.add(Dense(units = 1,kernel_initializer= 'uniform',activation = 'sigmoid'))
p_model.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics = ['accuracy'])

**FOR MULTICLASS CLASSIFICATION PROJECT----**
* UNITS OF OUTPUT LAYER = NO OF CATEFORIES IN HTE OUTPUT VARIABLE 

* ACTIVATION FUNCTION OF OUTPUT LAYER ='SOFTMAX'

* LOSS = 'CATEGORICAL_CROSSENTROPY'

### training the ann on the training set

In [11]:
p_model.fit(X_train,y_train,epochs = 10,batch_size = 32)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7981 - loss: 0.4966
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7981 - loss: 0.4241
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7979 - loss: 0.4174
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8230 - loss: 0.4157
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8276 - loss: 0.4145
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8263 - loss: 0.4128
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8301 - loss: 0.4120
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8298 - loss: 0.4107
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8332 - loss: 0.4089
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8351 - loss: 0.4090

## Prediction & evolution the model
* after prediction we got output as the probability so we have to convert it

In [13]:
y_pred_train = p_model.predict(X_train)
y_pred_train = (y_pred_train >= 0.5)

y_pred_test  = p_model.predict(X_test)
y_pred_test  =(y_pred_test >=0.5)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 816us/step
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

### Evolution

In [14]:
print('test accuracy:',accuracy_score(y_test,y_pred_test))
print('train accuracy:',accuracy_score(y_train,y_pred_train))

test accuracy: 0.825
train accuracy: 0.831

In [15]:
confusion_matrix(y_test,y_pred_test)

array([[1555,   22],
       [ 328,   95]])

### cross validate the model

### importent 
* for multiclass classification project 
* output layer = no of categories in the output variable 
* we use activation function = softmax
* loss  = categorical _crossentropy